*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.img-us{
    position: relative;
    left: 30%;
    padding: 3%
}

.about{    
    text-align: center;
    color: white;       
}
.sec-about{
    margin: 5%;
    color: white;    
}
.us-body{
    background-image: url(https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?cs=srgb&dl=pexels-lukas-669584.jpg&fm=jpg);
    background-size:cover;    
}
.title-user{
    font-size: 30px;
    text-align: center;
}
.cards-k{
    display: flex;
    justify-content: space-between;    
    flex-flow: wrap;
    text-align: center;
}

.table table-striped{
    width: 80%;
}
.select-div{
    margin-top: 2rem;
    text-align: center;
}
.sec-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}
.wrap-footer {
    display: flex;
    color: white;
    font-family: 'Heebo', sans-serif;
    list-style-type: none;
}
.li-footer{
    margin: 0 5%;
}
.ul-footer{
    display: flex;    
}
ul li
{
    list-style-type: none;
    font-size: 15px;    
}
#title-f{
    color: red;
}

.title-mancuernas{
font-family: 'Heebo', sans-serif;
justify-content: center;
margin: 1rem;
padding: 1rem;
background-color:#E71D36;
color: white;
border-radius: 10px;
display: flex;
}