*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    padding:0 5%;
    
}

.img-us{
    position: relative;
    left: 27%;
    padding: 3%
}

.about{
    
    text-align: center;
    color: white;
   
    
}

.sec-about{
    margin: 5%;
    color: white;
    
}

#title-kb{
    background-color: darkgray;
    padding: 0.5em;
    font-size: 3em;
    margin: 1 0.5em;
    border-radius: 5px;
}

.us-body{
    background-image: url(https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?cs=srgb&dl=pexels-lukas-669584.jpg&fm=jpg);
    background-size:cover;
    
}